@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&display=swap');

:root{
    --primary-color : #3787b4;
    --primary-darker : #1a6794; 
    --light-gray : #efefef; 
    --darker-gray : #c2bebe;
}

/* class constant */

.nav-link__active{
    color : #000000;
    text-decoration: underline;
}

.bttn-primary{
    background-color: var(--primary-color);
    color : #ffffff;
}

.bttn-primary:hover{
    background-color: var(--primary-darker);
    color : #ffffff;
    cursor: pointer;
}

.bttn-secondary{
    background-color: #fff;
    color : var(--primary-color);
    border:1px solid var(--primary-color);
}

.bttn-secondary:hover{
    background-color: var(--primary-color);
    color : #fff;
    border:1px solid var(--primary-color);
    cursor : pointer;
}




/* ///////////////////////////////////////////////////////////////// */
html{
    height:100%;
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    height:100vh;
    background-image: url('../images/homepage/Backround.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header a{
    color : #000000;
}

.product-photo{
    background-color : var(--light-gray)
}

.product-photo .card:hover{
    cursor:pointer;
}


/* ////////// */
.circle-blue{
    height:100px;
    width:100px;
    color : white;
    background-color:var(--primary-color);
    border-radius: 50%;
    margin:auto;
    padding-top:30%;
    padding-left: 30%;
}

.tail{
    height:120px;
    width:5px;
    background-color:var(--darker-gray);
    margin:auto;
}

.circle{
    height:100px;
    width:100px;
    color : white;
    background-color:var(--darker-gray);
    border-radius: 50%;
    margin:auto;
    padding-top:30%;
    padding-left: 10%;
}


/* /////////// */
footer{
    background-color:var(--primary-color);
    color : white;
    padding:50px;
}

footer ul li{
    list-style-type: none;
}

.icons li{
    display:inline;
}

footer img{
    height:30px;
    width:30px;
}

/* login */

/* login */
.image-samping{
    height:100vh;
    width:50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/login/gambar_samping.jpg');
}

.underline-input{
    border:none;
    border-bottom: 1px solid black;
}

.underline-input:focus{
    outline:none;
}

.login-label{
    text-decoration: underline;
    text-decoration-color: #3787b4;
}


/* --------------------css tambahan-------------------- */

.bttn-red{
    background-color: #ef4646;
    color : #fff;
}

.bttn-red:hover{
    background-color: #ad3c3c;
    color : #fff;
    cursor : pointer;
}

.card{
    padding: 0;
}

.card-body{
    margin: 0;
}

.center{
    margin: auto;
}

.red-card{
    background-color: #ef4646;
    color: #fff;
}

.blue-card{
    background-color: #3787b4;
    color: #fff;
}
